body {
    background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 400px;
    overflow-x: hidden;
    overscroll-behavior: none;
    color: white;
}
@font-face {
    font-family: kamerik-3d;
    src: url(../fonts/kamerik205-heavy.woff2);
    font-weight: 900;
}
@font-face {
    font-family: merriweather-italic-3d;
    src: url(../fonts/merriweather-regular-italic.woff2);
}
.blackout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.49);
    opacity: 0.5;
    z-index: 2000;
}
.logo-container {
    position: absolute;
    top: 2%;
    left: 3%;
    z-index: 1000;
}
.logo-container img {
    width: 150px; /* Adjust as needed */
    height: auto;
}
.mountain {
    transform: translateY(-200px);
}

.grass {
    transform: translateY(-200px);
}

.sky img {
    position: absolute;
    top: -400px;
}

.mountain img {
    position: absolute;
    top: 464px;
}

.grass img {
    position: absolute;
    top: 768px;
    height: 926px;
}
.smooth-gradient {
    position: absolute;
    width: 1920px;
    height: 700px;
    top: 1200px;
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
    opacity: 1; /* make the gradient visible */
    transform: translateY(-200px);
}
.sky img, .mountain img, .grass img, .smooth-gradient, .red-bottom {
    left: 0;
}
.main_content {
    position: absolute;
    width: 100%;
    transform: translateY(-200px);
    top: 1900px; /* position it under the smooth gradient */
    background: #0b1d26;
    color: white;
}